DATABASE_NAME=<dbname>
DATABASE_USER=<dbuser>
DATABASE_USER_PASSWORD=<db_user_password>
DATABASE_HOST=<host_name>
DATABASE_HOST_PORT=5432
SELECTED_SCHEMA_URI=https://metabolomicshub.github.io/mhd-model/schemas/v1_0/common-data-model-v1.0.schema.json
SELECTED_PROFILE_URI=https://metabolomicshub.github.io/mhd-model/schemas/v1_0/common-data-model-v1.0.legacy-profile.json

MTBLS_STUDIES_ROOT_PATH=<studies root path>
MTBLS_AUTH_SERVER_URL=https://www.ebi.ac.uk/metabolights/iam/
MTBLS_AUTH_REALM_NAME=metabolights
MTBLS_AUTH_CLIENT_ID=<client id>
MTBLS_AUTH_CLIENT_SECRET=<client secret>
